beautifulsoup4>=4.11.1
fastapi>=0.79.1
pydantic>=1.9.2
PyYAML>=6.0
redis>=4.3.4
uvicorn>=0.18.2
whoisdomain>=1.20230720.2
pydantic[dotenv]
pydantic[email]
thefuzz[speedup]>=0.19
loguru>=0.6.0
pre-commit
fake_useragent
google-cloud-vision
pydantic_settings
curl_cffi
fastapi-limiter
